<section class="crud-container">

  <h2 class="form-title">Gestión de Películas</h2>

  <form [formGroup]="peliculaForm" (ngSubmit)="guardar()">

    <div class="form-group">
      <label>Nombre de la Película:</label>
      <input type="text" formControlName="nombre" placeholder="Ej: Harry Potter">
      
      <small class="error-msg" *ngIf="peliculaForm.get('nombre')?.invalid && peliculaForm.get('nombre')?.touched">
        El nombre es obligatorio (mín. 3 caracteres)
      </small>
    </div>

    <div class="form-group">
      <label>Descripción:</label>
      <textarea formControlName="descripcion" placeholder="Sinopsis de la película..."></textarea>
      
      <small class="error-msg" *ngIf="peliculaForm.get('descripcion')?.invalid && peliculaForm.get('descripcion')?.touched">
        La descripción es obligatoria
      </small>
    </div>

    <div class="form-group">
      <label>URL de la Imagen (Poster):</label>
      <input type="text" formControlName="imagen" placeholder="https://link-de-la-imagen.jpg">
      
      <small class="error-msg" *ngIf="peliculaForm.get('imagen')?.invalid && peliculaForm.get('imagen')?.touched">
        La URL de la imagen es obligatoria
      </small>
    </div>

    <button type="submit" class="btn-submit" [disabled]="peliculaForm.invalid">
      {{ editando ? 'ACTUALIZAR PELÍCULA' : 'GUARDAR PELÍCULA' }}
    </button>

    <button type="button" class="btn-cancel" *ngIf="editando" (click)="cancelarEdicion()">
      CANCELAR
    </button>

  </form>

  <hr class="separator">

  <div class="cards-grid">
    <div class="movie-card" *ngFor="let p of peliculas">

      <div class="poster-container">
        <img [src]="p.imagen" alt="Poster de {{p.nombre}}">
      </div>

      <div class="movie-info">
        <h3>{{p.nombre}}</h3>
        <p>{{p.descripcion}}</p>

        <div class="acciones">
          <button class="btn-action edit" (click)="editar(p)">
            ACTUALIZAR
          </button>

          <button class="btn-action delete" (click)="eliminar(p.id)">
            ELIMINAR
          </button>
        </div>
      </div>

    </div>
  </div>

</section>